@import 'tailwindcss';

@theme {
  --font-Inter: 'Inter', 'sans-serif';
}

/* html {
  scroll-behavior: smooth;
} */

.animated-gradient-text {
  background: linear-gradient(90deg, purple 0%, pink 50%, red 100%);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 8s ease-in-out infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animated-border-box {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.3);
}

/* Rotating conic gradient */
.animated-border-box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: conic-gradient(transparent, transparent, #67009e);
  animation: rotateBorder 6s linear infinite; /* 👈 slow speed */
}

/* Inner content layer */
.animated-border-box .content {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border-radius: 12px;
  color: white;
  z-index: 1;
}

/* Animation keyframes */
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
